@media screen and (max-width: 1602px) {
	.container
	{
		width: 100%;
	}
	.header-body__image-body
	{
		width: 100%;
		    height: 680px;
	}
	.heder-bottom-img {
    display: block;
    bottom: 0;
    position: relative;
    width: 100%;
    height: auto;
}
	 
 
	
}